---
extends: default

ignore: |
  megalinter-reports/

rules:
  truthy:
    allowed-values: ['true', 'false', 'on', 'off']
    check-keys: false
  line-length:
    max: 120
    allow-non-breakable-words: true
  comments:
    min-spaces-from-content: 1
  comments-indentation: false
  braces:
    max-spaces-inside: 1
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
